/**import Neue Haas Grotesk Display**/
@import url("https://use.typekit.net/rly8moz.css");

.background {
	background-color: #ebd9b9;
}

.navbar {
	background-color: transparent;
}

.nav-link {
	font-family: neue-haas-grotesk-display, "sans-serif";
	color: #FFFFFF;
	font-size: 40px;
	font-weight: 700;
}

.menu-button {
	color: #184a28;
}

.home-background {
	height: 901px;
	background-image: url("../img/Iced Coffee Drink.jpg");
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	font-weight: 400;
}

.container {
	position: relative;
	left: 463px;
	bottom: -397px;
	display: block;
	grid-auto-columns: 1fr;
	-ms-grid-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	-ms-grid-rows: auto auto;
	grid-template-rows: auto auto;
}

.heading {
	position: relative;
	bottom: 45px;
	padding-left: 148px;
	float: left;
	clear: none;
	font-family: neue-haas-grotesk-display, "sans-serif";
	color: #fff;
	font-size: 40px;
	text-transform: uppercase;
}

.paragraph {
	position: relative;
	left: 152px;
	bottom: 25px;
	clear: left;
	font-family: neue-haas-grotesk-display, "sans-serif";
	color: #fff;
	font-size: 30px;
}

.image {
	position: relative;
	left: 466px;
	bottom: 158px;
}

.image-2 {
	position: relative;
	left: 270px;
	top: -150px;
}

.heading-3 {
	padding-top: 26px;
	padding-left: 37px;
	font-family: neue-haas-grotesk-display, "sans-serif";
	color: #184a28;
}

@media screen and (max-width: 991px) {
	.menu-button.w-open {
		background-color: transparent;
	}
	.nav-menu {
		background-color: transparent;
	}
}