/*--import Roboto Light for body and paragraphs--*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/*--import Montserrat Regular for headings--*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
	background-color: white;
	color: black;
	font-family:Roboto, Arial, sans-serif;
	text-transform:lowercase;
}
h1{
	background-color:white;
	color:black;
	font-family:Montserrat, Helvetica, sans-serif;
	text-transform:uppercase;
}
h2{
	color:white;
	position:relative;
	text-align:center;
	font-family:Montserrat, Helvetica, sans-serif;
	text-transform:uppercase;
}
a {
	background-color:white;
	color:black;
	display:block;
	font-family:Roboto, Arial, sans-serif;
	padding:1em 2em 1em 2em;
	width: 20%;
	text-decoration:none;
	text-transform:uppercase;
}

.padding-hover:hover {
	background-color: black;
	border:none;
	color:white;
	padding: 1em 2em 1em 2em;
}

.visited-gray:visited {
	color:lightslategray;
}
.container {
	background-image:url(https://pepperheadpassionproject.weebly.com/uploads/1/3/1/6/131662856/img-1518_orig.jpg);
	background-size:cover;
	height:700px;
	margin: 0 auto;
	width:50%
}

/*--Media Queries--*/
@media screen and (max-width:1000px) {
	body {
		background-color:grey;
}
}
@media screen and (max-width:500px){
	body {
		background-color: white;
	}
}