/*--import Roboto Light for body and paragraphs--*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/*--import Montserrat Regular for headings--*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
	background-color: white;
	color: black;
	font-family:Roboto, Arial, sans-serif;
	text-transform:lowercase;
}
h1{
	background-color:white;
	color:black;
	font-family:Montserrat, Helvetica, sans-serif;
	text-transform:uppercase;
}
a {
	background-color:white;
	color:black;
	display:block;
	font-family:Roboto, Arial, sans-serif;
	padding:1em 2em 1em 2em;
	width: 20%;
	text-decoration:none;
	text-transform:uppercase;
}

.padding-hover:hover {
	background-color: black;
	border:none;
	color:white;
	padding: 1em 2em 1em 2em;
}

.visited-gray:visited {
	color:lightslategray;
}
